

* {

	font-size: 16px;
	box-sizing: border-box;
	color: black;

}

.h1 {

	padding-right: 15px;
  	padding-left: 15px;
  	margin-bottom: 20px;
  	font-weight: bold;
}

.h2 {

	text-align: center;
	margin: auto;
	padding: 15px;
	font-weight: bold;
}

.navbar-brand {

	font-size: 2em;
	font-weight: bold;
	color: black !important;

}

.navbar-header {

	background-color: #ba9790;
	width: 100%;
	border: 2px solid #69353f;
	padding: 10px;

}


.container {

	border: 1px solid #69353f;
	background-color: #c8ada755;
	text-align: justify;


  }


.nav-container {

	border: 1px solid #69353f;
	background-color: #c8ada7;
	text-align: center;
}

   



.line-1 {
	height: 1px;
	background: #69353f;
}

@media (max-width: 767px) {

	.container {

		width: calc(100% - 90px);
		
	}


}

@media (min-width: 768px) and (max-width: 991px) {

	.container {

		width: calc(100% - 90px);
		
	}


}

@media (min-width: 992px) and (max-width: 1500px) {

	.container {

		width: calc(100% - 25px);
	}

}
